target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/.mvn/
/target/
/DanmuChat.iml
/mvnw
/mvnw.cmd
/src/main/resources/application.properties
/src/test/
/src/main/java/com/ws/alpha/util/WechatConstant.java
