<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>首页</title>
</head>
<body>
<img id="QrGen" src="" />

<script type="text/javascript">
    $(document).ready(function() {
        var uuid;
        $.get("/qrgen?cmd=showQrGen", function(data, status) {
            var obj = eval("(" + data + ")");
            //设置该uuid值
            uuid = obj.uuid;
            //设置二维码图片地址
            $("#QrGen").attr("src", obj.img);
            //检查验证登录
            checkScan();
        });

        function checkScan() {
            setInterval(function() {
                $.get("/qrgenLogin/qrgen?cmd=checkScan&uuid=" + uuid,
                    function(data, status) {
                        if (data === "ok") {
                            //验证成功并重定向到welcome页面
                            window.location = "welcome.jsp";
                        }
                    });
            },4000)
        }

    });
</script>
</body>
</html>